STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxx
STRIPE_PRICE_ID=price_xxxxxxxxxxxxxxxx
NEXT_PUBLIC_BASE_URL=http://localhost:3000
ADMIN_PASSWORD=change-this-password
KV_REST_API_URL=
KV_REST_API_TOKEN=
